/**
  @author Julia
 */

@font-face {
    src: url('Asap-Bold.ttf');
}

* {
    -fx-neutral-light-txt: #fff;
    -fx-neutral-dark-txt: #3e3e3e;
    -fx-brand-bg: #1ac1ee;
    -fx-brand-txt: #00b2ed;
    -fx-brand-light: #85def6;
    /*-fx-buttons: #bfe5f5;*/
    -fx-buttons: rgba(255, 255, 255, 0.6);
    -fx-brand-gradient: linear-gradient(to bottom right, reflect, #00b2ed, #85def6, #00b2ed);
    -fx-brand-gradient-2: linear-gradient(to bottom right, reflect, #00b2ed, #1ac1ee, #00b2ed);
    -fx-brand-light-gradient: linear-gradient(to bottom right, reflect, #bfe5f5, #85def6, #bfe5f5);

    /* brandcolor green try
    -fx-brand-bg: #33cc66;
    -fx-brand-txt: #33b55b;
    -fx-brand-light: #69e28e;
    -fx-buttons: #b1fcc3;
    */

    -fx-palegreen: #d6ffb2;
    -fx-palered: #f19da3; /*#ffc8cd*/
    -fx-error: #ff2c50;
    -fx-error2: #ff7e52;
    -fx-correct: #5cf369;
    -fx-paleblue: #bfe5f5;
    -fx-lightblue: #88def6;

    -fx-green-gradient: linear-gradient(to bottom right, reflect, #10d521, #5cf369, #10d521);
    -fx-red-gradient: linear-gradient(to bottom right, reflect, #ff2c50, #ff4d6a, #ff2c50);
    -fx-orange-gradient: linear-gradient(to bottom right, reflect, #ff6633, #ff7e52, #ff6633);

}

.root{
    -fx-font-family: "Asap Bold";
    -fx-font-size: 20px;
}

.root .label{
    -fx-text-fill: -fx-neutral-light-txt;
}

/* Buttons */
.button {
    -fx-background-color: -fx-buttons;
    -fx-text-fill: -fx-brand-txt;
    -fx-background-radius: 0;
}

.button_no_bg {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.btn_ok {
    -fx-background-image: url("check.png");
    -fx-background-size: 90%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-padding-left: 20px;
    -fx-padding-right: 20px;
    -fx-pref-width: 40px;
}

.btn_delete {
    -fx-background-image: url("x.png");
    -fx-background-size: 90%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-padding-left: 20px;
    -fx-padding-right: 20px;
    -fx-pref-width: 40px;
}

.keypad_button {
    -fx-background-radius: 5px;
    -fx-font-size: 30px;
}

.up_button {
    -fx-background-image: url("up_arrow.png");
    -fx-background-size: contain;
}
.down_button {
    -fx-background-image: url("down_arrow.png");
    -fx-background-size: contain;
}
.back_button {
    -fx-background-image: url("left_arrow.png");
    -fx-background-size: contain;
}
.bg_brand{
    -fx-background-color: -fx-brand-gradient;
}
.bg_brand_humble{
    -fx-background-color: -fx-brand-gradient-2;
}

.bg_brand_light{
    -fx-background-color: -fx-brand-light-gradient;
}

.bg_green_gradient{
    -fx-background-color: -fx-green-gradient;
}

.bg_lightblue {
    -fx-background-color: -fx-lightblue;
}

.bg_white {
    -fx-background-color: #fff;
}

.bg_paleblue {
    -fx-background-color: #bfe5f5;
}

.error2_BG {
    /*-fx-background-color: -fx-error2;*/
    -fx-background-color: -fx-orange-gradient;
}

.error1_BG {
   /* -fx-background-color: -fx-error;*/
    -fx-background-color: -fx-red-gradient;
}
.welcomeBar {
    -fx-background-color: #ffffff;
}

.scroll-pane > .viewport,
.scroll-pane{
    -fx-background-color: transparent;
}
.text-field{
    -fx-text-fill: -fx-brand-txt;
}


/* text styles */
.leftAligned .label{
    -fx-text-alignment: left;
}

.whiteText .label{
    -fx-text-fill: -fx-light-text;
}

.text_brand .label{
    -fx-text-fill: -fx-brand-txt;
}

.h1 {
    -fx-font-size: 50px;
}
.h2 {
    -fx-font-size: 40px;
}
.h3 {
    -fx-font-size: 30px;
}
.h4 {
    -fx-font-size: 24px;
}
.h5 {
    -fx-font-size: 22px;
}

