/*
    @author Julia Filzinger
 */

@font-face {
    src: url('Asap-Bold.ttf');
}

* {
    -fx-light-txt: #fff;
    -fx-dark-txt: #3e3e3e;
    -fx-bg-blue: #1ac1ee;
    -fx-txt-blue: #00b2ed;
    -fx-bg-orange: #f1931a;

    -fx-buttons: #bfe5f5;

    -fx-paleblue: #85def6;
    -fx-palegreen: #d6ffb2;
    -fx-palered: #ffc8cd;
    -fx-error: #ff2c50;
    -fx-error2: #ff7e52;
    -fx-correct: #5cf369;


    /*-fx-text-alignment: center;*/

}

.root{
    -fx-font-family: "Asap Bold";
    -fx-font-size: 20px;
}

.root .label{
    -fx-text-fill: -fx-light-txt;
}

/* Buttons */
.button {
    -fx-background-color: -fx-buttons;
    -fx-text-fill: -fx-txt-blue;
    -fx-background-radius: 0;
}

.keypad_button {
    -fx-background-radius: 5px;
}

.up_button {
    -fx-background-image: url("up_arrow.png");
    -fx-background-size: contain;
}
.down_button {
    -fx-background-image: url("down_arrow.png");
    -fx-background-size: contain;
}
.back_button {
    -fx-background-image: url("left_arrow.png");
    -fx-background-size: contain;
}

.enterPanel {}

.blueBG{
    -fx-background-color: -fx-bg-blue;
}

.paleblueBG{
    -fx-background-color: -fx-paleblue;
}

.error2_BG {
    -fx-background-color: -fx-error2;
}

.error1_BG {
    -fx-background-color: -fx-error;
}

.infoPanel{
}

.welcomeBar {
    -fx-background-color: #ffffff;
}

.scroll-pane > .viewport,
.scroll-pane{
    -fx-background-color: transparent;
}


/* text styles */
.leftAligned .label{
    -fx-text-alignment: left;
}

.whiteText .label{
    -fx-text-fill: -fx-light-text;
}

.blueText .label{
    -fx-text-fill: -fx-txt-blue;
}

.h1 {
    -fx-font-size: 50px;
}
.h2 {
    -fx-font-size: 40px;
}
.h3 {
    -fx-font-size: 30px;
}
.h4 {
    -fx-font-size: 24px;
}
.h5 {
    -fx-font-size: 22px;
}

