/*
    @author Julia Filzinger
 */

@font-face {
    src: url('Asap-Bold.ttf');
}

* {
    -fx-neutral-light-txt: #fff;
    -fx-neutral-dark-txt: #3e3e3e;
    -fx-brand-bg: #1ac1ee;
    -fx-brand-txt: #00b2ed;
    -fx-brand-light: #85def6;
    /*-fx-buttons: #bfe5f5;*/
    -fx-buttons: rgba(255, 255, 255, 0.6);
    -fx-brand-gradient: linear-gradient(to bottom right, reflect, #00b2ed, #85def6, #00b2ed);
    -fx-brand-gradient-2: linear-gradient(to bottom right, reflect, #00b2ed, #1ac1ee, #00b2ed);
    -fx-brand-light-gradient: linear-gradient(to bottom right, reflect, #bfe5f5, #85def6, #bfe5f5);

    /* brandcolor green try
    -fx-brand-bg: #33cc66;
    -fx-brand-txt: #33b55b;
    -fx-brand-light: #69e28e;
    -fx-buttons: #b1fcc3;
    */

    -fx-palegreen: #d6ffb2;
    -fx-palered: #ffc8cd;
    -fx-error: #ff2c50;
    -fx-error2: #ff7e52;
    -fx-correct: #5cf369;

}

.root{
    -fx-font-family: "Asap Bold";
    -fx-font-size: 20px;
}

.root .label{
    -fx-text-fill: -fx-neutral-light-txt;
}

/* Buttons */
.button {
    -fx-background-color: -fx-buttons;
    -fx-text-fill: -fx-brand-txt;
    -fx-background-radius: 0;
}

.keypad_button {
    -fx-background-radius: 5px;
}

.up_button {
    -fx-background-image: url("up_arrow.png");
    -fx-background-size: contain;
}
.down_button {
    -fx-background-image: url("down_arrow.png");
    -fx-background-size: contain;
}
.back_button {
    -fx-background-image: url("left_arrow.png");
    -fx-background-size: contain;
}
.bg_brand{
    /*-fx-background-color: -fx-brand-bg;*/
    -fx-background-color: -fx-brand-gradient;
}
.bg_brand_humble{
    -fx-background-color: -fx-brand-gradient-2;
}

.bg_brand_light{
    /*-fx-background-color: -fx-brand-light;*/
    -fx-background-color: -fx-brand-light-gradient;
}

.error2_BG {
    -fx-background-color: -fx-error2;
}

.error1_BG {
    -fx-background-color: -fx-error;
}
.welcomeBar {
    -fx-background-color: #ffffff;
}

.scroll-pane > .viewport,
.scroll-pane{
    -fx-background-color: transparent;
}
.text-field{
    -fx-text-fill: -fx-brand-txt;
}


/* text styles */
.leftAligned .label{
    -fx-text-alignment: left;
}

.whiteText .label{
    -fx-text-fill: -fx-light-text;
}

.text_brand .label{
    -fx-text-fill: -fx-brand-txt;
}

.h1 {
    -fx-font-size: 50px;
}
.h2 {
    -fx-font-size: 40px;
}
.h3 {
    -fx-font-size: 30px;
}
.h4 {
    -fx-font-size: 24px;
}
.h5 {
    -fx-font-size: 22px;
}

